{% extends 'admin/layouts/main.twig' %}

{% block aside %}
    {% if rsp.data.product.type_id == 1 %}
        {% include 'admin/layouts/partials/aside.twig' with { 'aside': 'multimedia.portafolio' } %}
    {% endif %}

    {% if rsp.data.product.type_id == 2 %}
        {% include 'admin/layouts/partials/aside.twig' with { 'aside': 'multimedia.podcast' } %}
    {% endif %}

{% endblock %}

{% block breadcrumb %}
    {% if rsp.data.product.type_id == 1 %}
        {% include 'admin/layouts/partials/breadcrumb.twig' with { 'breadcrumb': 'multimedia.portafolio' } %}
    {% endif %}

    {% if rsp.data.product.type_id == 2 %}
        {% include 'admin/layouts/partials/breadcrumb.twig' with { 'breadcrumb': 'multimedia.podcast' } %}
    {% endif %}
    
{% endblock %}

{% block css %}
	<style>
	    .minicolors-swatch{
			top: 8px !important;
			left: 5px !important;
		}
		.image-input-wrapper{
        	background-repeat: no-repeat !important; 
        	background-size: 100% 100% !important;
    	}
		.fonticon{
			height:30px; width:30px; display:inline-flex; margin-right:5px; border-radius:50%; color:#fff;
		}
		.fonticon i{
			color:#fff; margin:auto;
		}
		.item-color {
			background-color: transparent;
			height: 20px;
			width: 20px;
			border: 1px solid #EBEDF3;
		}
		.btn.btn-secondary.dropdown-toggle:after {
			margin-top:7px;
		}

	</style>
{% endblock %}

{% block content %}
{% set data = rsp.data %}
{% set notfound = '/assets/image/notfound.png' %}
<div class="container" id="AppPortafolioAdmin">
	<div class="card card-custom">
        <div class="card-header card-header-tabs-line nav-tabs-line-3x">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
                    <li class="nav-item mr-3">
                        <a class="nav-link {{ APP.GET['tab'] is not defined or APP.GET['tab'] is null  or APP.GET['tab'] == 'general' ? 'active' : '' }}" href="/admin/portafolios/portafolios/editar/{{ rsp.data.product.id }}?tab=general">
							<span class="nav-text font-size-lg">General</span>
                        </a>
                    </li>
					<li class="nav-item mr-3">
                        <a class="nav-link {{ APP.GET['tab'] == 'syllabus' ? 'active' : '' }}" href="/admin/portafolios/portafolios/editar/{{ rsp.data.product.id }}?tab=syllabus">
                            <span class="nav-text font-size-lg">Contenido Blog </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
		<div class="card-body">
            <div class="tab-content">
                <div class="tab-pane {{ APP.GET['tab'] is not defined or APP.GET['tab'] is null  or APP.GET['tab'] == 'general' ? 'show active' : '' }} px-7" id="kt_tab_general" role="tabpanel">
					{% include 'admin/portafolios/partials/form.twig' %}
				</div>
				<div class="tab-pane {{ APP.GET['tab'] == 'syllabus' ? 'show active' : '' }} px-7" id="kt_tab_syllabus" role="tabpanel">
					{% include 'admin/portafolios/partials/syllabus.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	window.addEventListener('load', window.AppPortafolioAdmin.edit(JSON.parse("{{ rsp.data|json_encode|e('js') }}")));
</script>
{% endblock %}