<div class="row justify-content-center">
    <div class="col-xl-9">
        <div class="my-5 step">
            <div class="row">
                <div class="col-xl-12 form-group ">
                    <div class="float-left">
                        <h4 class="card-label">Gestión plan de estudios</h4>
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-light-primary" @click="onModalTopic(-1)"> 
                            <i class="fas fa-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
                <div class="col-xl-12 form-group">
                    <div class="table-responsive">
                    {% for index, item in data.topics %}
                    <div class="card form-group">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-1 col-sm-1 mb-2">
                                    <span class="label label-xl label-rounded label-light-primary"><b>{{ index + 1 }}</b></span>
                                </div>
                                <div class="col-lg-8 col-sm-8 mb-2">
                                    <h5>{{ item.name }}</h5>
                                    <span>{{ item.description }}</span>
                                </div>
                                <div class="col-lg-3 col-sm-3 mb-2 text-right">
                                    <a href="javascript:;"class="btn btn-sm btn-clean btn-icon" @click="onModalSubTopic(-1, {{ index }})" data-toggle="tooltip" data-placement="top" title="Agregar subtema">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    <a href="javascript:;"class="btn btn-sm btn-clean btn-icon" @click="onModalTopic({{ index }})" data-toggle="tooltip" data-placement="top" title="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon"  @click="onDeleteTopic({{ item.id }})" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if item.subtopics|length > 0 %}
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for index2, item2 in item.subtopics %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-1 col-sm-1 mb-2">
                                            <span class="label label-xl label-rounded label-light-success"><b>{{ index2 + 1 }}</b></span>
                                        </div>
                                        <div class="col-lg-8 col-sm-8 mb-2">
                                            <div style="background-color:{{ item2.design_icon.color }};" class="fonticon">
                                                <i class="{{ item2.design_icon.icon }}"></i>
                                            </div>
                                            <span>{{ item2.name }}</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 mb-2 text-right">
                                            <a href="javascript:;"class="btn btn-sm btn-clean btn-icon" @click="onModalSubTopic({{ index2 }}, {{ index }})" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-sm btn-clean btn-icon"  @click="onDeleteSubTopic({{ item2.id }})" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTopic" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" v-text="modal.topic.title">GESTIONAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="form_topic" @submit="onFormTopic">
                    <div class="col-lg-12">
                        <input type="hidden" :value="topic.id" name="id">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control form-control-solid" :value="topic.name" name="name" placeholder="" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control form-control-solid" name="description" rows="5" v-html="topic.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Orden</label>
                            <input type="number" class="form-control form-control-solid" :value="topic.order" name="order" placeholder="" autocomplete="off" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary font-weight-bold" form="form_topic">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSubTopic" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" v-text="modal.subtopic.title">GESTIONAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="form_subtopic" @submit="onFormSubTopic">
                    <div class="col-lg-12">
                        <input type="hidden" :value="subtopic.id" name="id">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control form-control-solid" :value="subtopic.name" name="name" placeholder="" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <input type="text" class="form-control form-control-solid" :value="subtopic.description" name="description" placeholder="" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <label>Icono</label>
                            <select class="form-control mb-5" title="Seleccionar" name="design_icon_id" :value="subtopic.design_icon_id" required>
                                <option v-for="(item, index) in designs_icons"  :key="item.id" :value="item.id" v-text="item.name"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tema</label>
                            <select class="form-control mb-5" title="Seleccionar" name="topic_id" :value="subtopic.topic_id" required>
                                <option v-for="(item, index) in topics"  :key="item.id" :value="item.id" v-text="item.name"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Orden</label>
                            <input type="number" class="form-control form-control-solid" :value="subtopic.order" name="order" placeholder="" autocomplete="off" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary font-weight-bold" form="form_subtopic">Guardar</button>
            </div>
        </div>
    </div>
</div>