<div style="background-color:#f4f4f4; margin:0px; padding:30px;">
	<div style="width:800px !important;background-color: #fff !important;margin: auto !important; border:1px solid #f4f4f4;font-weight:400;color:#000;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td>
						{% if company.logos|length %}	
						<div style="text-align: center;padding-top:5px; padding-bottom:5px;">						
							<img src="{{ 'http://' ~ company.url_codigo ~ company.logos[0].patch}}"  width="180" height="53"/>
						</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<div style="    
							padding: 1px;
							text-align: center;
							color: #fff;
							background-color: {{company.colors|length ? company.colors[0]['color'] : '#fff' }};
							font-weight:700;
							font-size: 20px;">
							<p><strong>NOTIFICACIÓN</strong></p>
						</div>            
					</td>
				</tr>
				<tr>
					<td>
						<div style="padding:15px 30px; text-align:center; font-size: 16px;">
							<p>Un contacto ha enviado un nuevo mensaje</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="padding:0px 30px; text-align:center; font-size: 16px;">
							<table>
								<tbody>
									{% if message.name %}
									<tr>
										<td style="padding:0px 5px 10px 0px; width:175px; vertical-align: initial; text-align:left;">Nombres y Apellidos:</td>
										<td style="padding:0px 0px 10px 0px; text-align:left; word-break: break-word;"><b> {{ message.name }} </b></td>
									</tr>									
									{% endif %}									
									{% if message.telephone %}
									<tr>
										<td style="padding:0px 5px 10px 0px; width:175px; vertical-align: initial; text-align:left;">Numero:</td>
										<td style="padding:0px 0px 10px 0px; text-align:left; word-break: break-word;"><b>{{ message.telephone }} </b></td>
									</tr>
									{% endif %}
									{% if message.email %}
									<tr>
										<td style="padding:0px 5px 10px 0px; width:175px; vertical-align: initial; text-align:left;">Email:</td>
										<td style="padding:0px 0px 10px 0px; text-align:left; word-break: break-word;"><b>{{ message.email }} </b></td>
									</tr>
									{% endif %}
									{% if message.description %}
									<tr>
										<td style="padding:0px 5px 10px 0px; width:175px; vertical-align: initial; text-align:left;">Descripción:</td>
										<td style="padding:0px 0px 10px 0px; text-align:justify; word-break: break-word;">{{ message.description }}</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
						</div>
						<br/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
