{% extends "admin/layouts/main.twig" %}

{% block aside %}
	{% include 'admin/layouts/partials/aside.twig' with { 'aside': 'company.payment' } %}
{% endblock %}

{% block breadcrumb %}
    {% include 'admin/layouts/partials/breadcrumb.twig' with { 'breadcrumb': 'company.payment' } %}
{% endblock %}

{% block css %}
<style>
    .minicolors-swatch{
        top: 8px !important;
        left: 5px !important;
    }
    .custom-file-label:after {
        content: 'Buscar' !important;
    }
</style>
{% endblock %}

{% block content %}
{% set data = rsp.data %}
{% set notfound = '/assets/image/notfound.png' %}
<div class="container" id="AppPaymentCompanyAdmin">
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line nav-tabs-line-3x">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
                    <li class="nav-item mr-3">
                        <a class="nav-link {{ APP.GET['tab'] is not defined or APP.GET['tab'] is null  or APP.GET['tab'] == 'bancaria' ? 'active' : '' }}" href="/admin/empresa/pagos?tab=bancaria">
                            <span class="nav-icon">
                                <i class="far fa-money-bill-alt" aria-hidden="true"></i>
                            </span>
                            <span class="nav-text font-size-lg">Trans. Bancaría</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link {{ APP.GET['tab'] == 'mobile' ? 'active' : '' }}" href="/admin/empresa/pagos?tab=mobile">
                            <span class="nav-icon">
                                <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                            </span>
                            <span class="nav-text font-size-lg">Trans. Movil</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane {{ APP.GET['tab'] is not defined or APP.GET['tab'] is null  or APP.GET['tab'] == 'bancaria' ? 'show active' : '' }}" id="kt_tab_ware_transfer" role="tabpanel">
                    <div id="kt_repeater_bank">
                        <form class="form" @submit="onFormTransfer">
                        <input name="panel" type="hidden" value="transfer-bank" />
                            <div class="row">
                                <div data-repeater-list="bank" class="col-lg-12">
                                    {% if (rsp.data.banks|length > 0) %}
                                        {% for item in rsp.data.banks %}
                                        <div data-repeater-item="" class="form-group row align-items-center">
                                            <input type="hidden" name="id" value="{{ item.id }}"/>
                                            <div class="col-md-3">
                                                <label>Cuenta:</label>
                                                <input class="form-control form-control-solid form-control-lg" type="text" name="account" value="{{ item.account }}" placeholder="BCP en soles, BCP en dólares, BBVA en soles..." required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Número:</label>
                                                <input class="form-control form-control-solid form-control-lg" type="text" name="number" value="{{ item.number }}" placeholder="197-1564145-0-62" required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>CCI:</label>
                                                <input class="form-control form-control-solid form-control-lg" type="text" name="cci" value="{{ item.cci }}" placeholder="007-123-002654413695-12"/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-3">
                                                    <label>Imagen:</label> {% if item.image %} <a href="{{ item.image }}" class="float-right" download>Descargar</a> {% endif %}
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image" id="customFile" accept=".png, .jpg, .jpeg"/>
                                                        <label class="custom-file-label" for="customFile">{{ item.image ? item.image|split('/')|last : 'Seleccionar' }}</label>
                                                    </div>
                                            </div>    
                                            <div class="col-md-2 text-right">
                                                <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger mt-8">
                                                <i class="la la-trash-o"></i>Eliminar</a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div data-repeater-item="" class="form-group row align-items-center">
                                            <input type="hidden" name="id" value=""/>
                                            <div class="col-md-3">
                                                <label>Cuenta:</label>
                                                <input class="form-control form-control-solid form-control-lg" type="text" name="account" value="" placeholder="BCP en soles, BCP en dólares, BBVA en soles..." required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Número:</label>
                                                <input class="form-control form-control-solid form-control-lg" type="text" name="number" value="" placeholder="197-1564145-0-62" required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>CCI:</label>
                                                <input class="form-control form-control-solid form-control-lg" type="text" name="cci" value="" placeholder="007-123-002654413695-12"/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-3">
                                                    <label>Imagen:</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image" id="customFile" accept=".png, .jpg, .jpeg"/>
                                                        <label class="custom-file-label" for="customFile">Seleccionar</label>
                                                    </div>
                                            </div>    
                                            <div class="col-md-2 text-right">
                                                <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger mt-8">
                                                <i class="la la-trash-o"></i>Eliminar</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                    <i class="la la-plus"></i>Agregar</a>
                                </div>
                            </div>
                            <div class="separator separator-dashed mt-10 mb-5"></div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button type="submit" class="btn btn-primary font-weight-bold">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane {{ APP.GET['tab'] == 'mobile' ? 'show active' : '' }}" id="kt_tab_mobile_transfer" role="tabpanel">
                    <form class="form" @submit="onFormTransfer">
                        <input name="panel" type="hidden" value="transfer-mobile" />
                        <div id="kt_repeater_mobile">
                            <div class="row">
                                <div data-repeater-list="mobile" class="col-lg-12">
                                    {% if (rsp.data.mobiles|length > 0) %}
                                        {% for item in rsp.data.mobiles %}
                                        <div data-repeater-item="transfers" class="form-group row align-items-center">
                                            <input type="hidden" name="id" value="{{ item.id }}"/>
                                            <div class="col-md-3">
                                                <label>Cuenta:</label>
                                                <input class="form-control form-control-solid form-control-lg" name="account" value="{{ item.account }}" type="text" placeholder="Yape, Plin, Tunke..." required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Número:</label>
                                                <input class="form-control form-control-solid form-control-lg" name="number" value="{{ item.number }}" type="text" placeholder="965843652" required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Imagen:</label> {% if item.image %} <a href="{{ item.image }}" class="float-right" download>Descargar</a> {% endif %}
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="image" id="customFile" accept=".png, .jpg, .jpeg"/>
                                                    <label class="custom-file-label" for="customFile">{{ item.image ? item.image|split('/')|last : 'Seleccionar' }}</label>
                                                </div>
                                            </div>    
                                            <div class="col-md-2 text-right">
                                                <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger mt-8">
                                                <i class="la la-trash-o"></i>Eliminar</a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div data-repeater-item="transfers" class="form-group row align-items-center">
                                            <input type="hidden" name="id" value=""/>
                                            <div class="col-md-3">
                                                <label>Cuenta4:</label>
                                                <input class="form-control form-control-solid form-control-lg" name="account" value="" type="text" placeholder="Yape, Plin, Tunke..." required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Número:</label>
                                                <input class="form-control form-control-solid form-control-lg" name="number" value="" type="text" placeholder="965843652" required/>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Imagen:</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="image" id="customFile" accept=".png, .jpg, .jpeg"/>
                                                    <label class="custom-file-label" for="customFile">Seleccionar</label>
                                                </div>
                                            </div>    
                                            <div class="col-md-2 text-right">
                                                <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger mt-8">
                                                <i class="la la-trash-o"></i>Eliminar</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                    <i class="la la-plus"></i>Agregar</a>
                                </div>
                            </div>
                            <div class="separator separator-dashed mt-10 mb-5"></div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button type="submit" class="btn btn-primary font-weight-bold">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    window.addEventListener('load', window.AppCompanyAdmin.payment(JSON.parse("{{ rsp.data|json_encode|e('js') }}")));
</script>
{% endblock %}