<section class="row mb-2">
    {% if articlesOnly == false %}
    <div class="col-lg-9 mb-3">
    {% else %}
    <div class="col-lg-12 mb-3">
    {% endif %}
        <div id="{{ section.uniqid }}" class="owl-carousel owl-theme">
            {% for key, content in section.contents %}
                {% if content.content_name and content.content_description %}
                <div class="row system-information">
                    {% if content.imagens|length %}
                    <div class="col-lg-6 mb-3">
                    {% else %}
                    <div class="col-lg-12 mb-3">
                    {% endif %}
                            <div style="height:320px;">
                                <h3 class="title">{{ content.content_name }}</h3>
                                <p class="mb-4">{{ content.content_description }}</p>
                                <a href="#registrate" class="btn btn-system-primary">{{ content.content_caption }}</a>
                            </div>
                        </div>
                        {% if content.imagens|length %}
                        <div class="col-lg-6 mb-3">
                            <div class="information-image">
                                <img src="{{ content.imagens[0].patch }}" width="100%">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                {% else %}
                <div class="row system-information">
                    <div class="col-lg-12 mb-3">
                        <div class="information-image">
                            <img src="{{ content.imagens[0].patch }}" width="100%">
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% if articlesOnly == false %}
        {% include "home/comunidad/partials/article.twig" with {'section': articles, 'articlesOnly': articlesOnly } %}
    {% endif %}
</section>