<div class="mypopup">
    {% if _company.facebook_link %}<a href="{{ _company.facebook_link }}" target="_blank"><i class="fa fa-facebook p-fa" aria-hidden="true" data-placement="top" title="Facebook"></i></a>{% endif %}
    {% if _company.twitter_link %}<a href="{{ _company.twitter_link }}" target="_blank"><i class="fa fa-twitter p-fa" aria-hidden="true" data-placement="top" title="twitter"></i></a>{% endif %}
    {% if _company.linkedin_link %}<a href="{{ _company.linkedin_link }}" target="_blank"><i class="fa fa-linkedin p-fa" aria-hidden="true" data-placement="top" title="Linkedin"></i></a>{% endif %}
    {% if _company.instagram_link %}<a href="{{ _company.instagram_link }}" target="_blank"><i class="fa fa-instagram p-fa" aria-hidden="true" data-placement="top" title="Instagram"></i></a>{% endif %}
    {% if _company.whatsapp_link %}<a href="{{ _company.whatsapp_link }}" target="_blank"><i class="fa fa-whatsapp p-fa" aria-hidden="true" data-placement="top" title="Whatsapp"></i></a>{% endif %}
</div>