

    <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 50px 0px;">
        <div class="gdlr-core-pbf-background-wrap" style="background-color: #ffffff ;"></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
                        {% if _company.facebook_link %}
                            <a href={{_company.facebook_link}} target="_blank" class="gdlr-core-social-network-icon" title="facebook"  style="font-size: 20px ;color: #1e1e1e ;"><i class="fa fa-facebook" ></i></a>
                        {% endif %} 

                        {% if _company.linkedin_link %}
                            <a href={{_company.linkedin_link}} target="_blank" class="gdlr-core-social-network-icon" title="linkedin" style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-linkedin" ></i></a>
                        {% endif %} 

                        {% if _company.whatsapp_link %}
                            <a href={{_company.whatsapp_link}} target="_blank" class="gdlr-core-social-network-icon" title="whatssap"  style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-whatsapp" ></i></a>
                        {% endif %}   

                        {% if _company.twitter_link %}
                            <a href={{_company.twitter_link}} target="_blank" class="gdlr-core-social-network-icon" title="twitter"  style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-twitter" ></i></a>
                        {% endif %} 

                        {% if _company.instagram_link %}
                            <a href={{_company.instagram_link}} target="_blank" class="gdlr-core-social-network-icon" title="instagram"  style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-instagram" ></i></a>
                        {% endif %}

                   
                    </div>
                </div>
            </div>
        </div>
    </div> 

                   

