<header id="sticked-menu" class="header header-v5">
    <div class="container">
        <div class="logo">
            <div class="mm-toggle visible-xs visible-sm">
                <i class="fa-remove fa fa-bars"></i><span class="mm-label">Menu</span>
            </div>
            <a href="/"><img src="{{ _company.logos[0].patch }}"
                    class="img-responsive" alt="Image"></a>
        </div>
        <nav class="navi-desktop-site hidden-sm hidden-xs">
            <ul class="navi-level-1 uppercase">
                {% for menu_item in _menu %}
                    {% if menu_item.template_view.index == 2 or menu_item.template_view.index == 4 or menu_item.template_view.index == 1 %}
                    <li class="has-sub">
                        {% if menu_item.children[0] %}
                        <a href="/{{ menu_item.slug }}">{{ menu_item.name }} <i class="fa fa-angle-down"></i></a>
                        {% else %}
                        <a href="/{{ menu_item.slug }}">{{ menu_item.name }}</a>
                        {% endif %}
                        
                        {% if menu_item.children %}
                        <ul class="navi-level-2 ">
                            {% for sub_menu_item in menu_item.children %}
                            <li><a href="/{{ sub_menu_item.slug }}">{{ sub_menu_item.name }}</a>
                                {% if sub_menu_item.children %}
                                <ul class="navi-level-2">
                                    {% for sub2_menu_item in sub_menu_item.children %}
                                    <li><a href="/{{ sub2_menu_item.slug }}">{{ sub2_menu_item.name }}</a></li>
                                    {% endfor %}
                                </ul><!-- /.sub-menu -->
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% if menu_item.children[1] %}
                            <li>
                                <a href="/{{ menu_item.slug }}">Ver todos</a>
                            </li>
                            {% endif %}
                        </ul><!-- /.sub-menu -->
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                {#<li class="has-sub"><a href="index.html">Home <i class="fa fa-angle-down"></i></a>
                    <ul class="navi-level-2 ">
                        <li><a href="index.html">Home Page Verison 1</a></li>
                        <li><a href="home_2.html">Home Page Verison 2</a></li>
                        <li><a href="home_3.html">Home Page Verison 3</a></li>
                        <li><a href="home_4.html">Home Page Verison 4</a></li>
                        <li><a href="home_5.html">Home Page Verison 5</a></li>
                        <li><a href="home_6.html">Home Page Verison 6</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="servicesList.html">Services <i class="fa fa-angle-down"></i></a>
                    <ul class="navi-level-2">
                        <li><a href="servicesList.html">Services Style 1</a></li>
                        <li><a href="servicesList2.html">Services Style 2</a></li>
                        <li><a href="services-detail.html">Services Details</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="projectList.html">Projects <i class="fa fa-angle-down"></i></a>
                    <ul class="navi-level-2">
                        <li><a href="projectList.html">Project Grid</a></li>
                        <li><a href="projectsDetail.html">Project Details</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="blogList.html">News<i class="fa fa-angle-down"></i></a>
                    <ul class="navi-level-2">
                        <li><a href="blogList.html">Blog List</a></li>
                        <li><a href="blogDetail.html">Blog Detail</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="shop-catalog.html">Shop<i class="fa fa-angle-down"></i></a>
                    <ul class="navi-level-2">
                        <li><a href="shop-catalog.html">Online Store Catalog</a></li>
                        <li><a href="shop-cart.html">Online Store Shopping Cart</a></li>
                        <li><a href="shop-checkout.html">Online Store Checkout</a></li>
                        <li><a href="shop-single.html">Single Store Product</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="">Pages <i class="fa fa-angle-down"></i></a>

                    <ul class="navi-level-2">
                        <li><a href="elements.html">Element</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="testimonial.html">Testinmonials</a>
                        <li><a href="404.html">404 Page</a></li>
                        <li><a href="comingsoon.html">Coming Soon</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About Us </a></li>
                <li class="has-sub"><a href="contact.html">Contact Us <i class="fa fa-angle-down"></i></a>
                    <ul class="navi-level-2">
                        <li><a href="contact.html">Contact Style 1</a></li>
                        <li><a href="contact2.html">Contact Style 2</a></li>
                        <li><a href="contact3.html">Contact Style 3</a></li>
                    </ul>
                </li>#}
            </ul>
        </nav>
    </div> <!-- End container -->
</header><!-- END HEADER -->