{%  set  asides = {
        'company.payment': {
            'active': { 'payment': 'menu-item-active' }, 
            'open': { 'settings': 'menu-item-open' }  
        },
        'company.interface': {
            'active': { 'interface': 'menu-item-active' }, 
            'open': { 'settings': 'menu-item-open' }  
        },
        'company': {
            'active': { 'company': 'menu-item-active' }, 
            'open': { 'settings': 'menu-item-open'}  
        },
        'landing.contents': {
            'active': { 'contents': 'menu-item-active' }, 
            'open': { 'landing': 'menu-item-open'}  
        },
        'landing.sections': {
            'active': { 'sections': 'menu-item-active' }, 
            'open': { 'landing': 'menu-item-open'}  
        },
        'landing.menus': {
            'active': { 'menus': 'menu-item-active' }, 
            'open': { 'landing': 'menu-item-open'}  
        },
        'landing.gallery': {
            'active': { 'gallery': 'menu-item-active' }, 
            'open': { 'landing': 'menu-item-open'}  
        },
        'ecommerce.products': {
            'active': { 'products': 'menu-item-active' }, 
            'open': { 'ecommerce': 'menu-item-open'}  
        },
        'ecommerce.categories': {
            'active': { 'categories': 'menu-item-active' }, 
            'open': { 'ecommerce': 'menu-item-open'}  
        },
        'ecommerce.teachers': {
            'active': { 'teachers': 'menu-item-active' }, 
            'open': { 'ecommerce': 'menu-item-open'}  
        },
         'multimedia.portafolio': {
            'active': { 'portafolio': 'menu-item-active' }, 
            'open': { 'multimedia': 'menu-item-open'}  
        },
        'multimedia.podcast': {
            'active': { 'podcast': 'menu-item-active' }, 
            'open': { 'multimedia': 'menu-item-open'}  
        },
        'system': {
            'active': { 'settings': 'menu-item-active' }, 
            'open': { 'system': 'menu-item-open'}  
        },

        'dashboard': { 'active': { 'dashboard': 'menu-item-active' } },
        'user.profile': { 'active': { 'profile': 'menu-item-active' } },
        'messages': { 'active': { 'messages': 'menu-item-active' } }
    }
%}
{% set aside = asides[aside] %}

<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
    <!--begin::Brand-->
    <div class="brand flex-column-auto" id="kt_brand">
        <!--begin::Logo-->
        <a href="/admin" class="brand-logo">
            {# <img alt="Logo" src="/assets/admin/theme/media/logos/logo-light.png" /> #}
            <h4 class="font-weight m-0" style="color:#fff;">ADMINISTRADOR</h4>
        </a>
        <!--end::Logo-->
        <!--begin::Toggle-->
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
            <span class="svg-icon svg-icon svg-icon-xl">
                <!--begin::Svg Icon | path:/assets/admin/theme/media/svg/icons/Navigation/Angle-double-left.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                        <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                    </g>
                </svg>
                <!--end::Svg Icon-->
        </button>
        <!--end::Toolbar-->
    </div>
    <!--end::Brand-->
    <!--begin::Aside Menu-->
    <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        <!--begin::Menu Container-->
        <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
            <!--begin::Menu Nav-->
            <ul class="menu-nav">
                {% if settings.aside.dashboard.hide == 0 %}
                <li class="menu-item {{ aside.active.dashboard }}" aria-haspopup="true">
                    <a href="/admin" class="menu-link">
                        <span class="menu-icon">
                            <i class="far fa-chart-bar" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu {{ aside.open.settings }}" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Configuración</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            {% if settings.aside.dashboard.hide == 0 %}
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link">
                                    <span class="menu-text">Configuracións</span>
                                </span>
                            </li>
                            {% endif %}
                            {% if settings.aside.empresa.hide == 0 %}
                            <li class="menu-item {{ aside.active.company }}" aria-haspopup="true">
                                <a href="/admin/empresa" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Datos Empresa</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.aside.interfaz.hide == 0 %}
                            <li class="menu-item {{ aside.active.interface }}" aria-haspopup="true">
                                <a href="/admin/empresa/interfaz" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Interfaz</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.aside.pagos.hide == 0 %}
                            <li class="menu-item {{ aside.active.payment }}" aria-haspopup="true">
                                <a href="/admin/empresa/pagos" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Pagos</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if settings.aside.landing.hide == 0 %}
                <li class="menu-item menu-item-submenu {{ aside.open.landing }}" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fas fa-pager" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Landing</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link">
                                    <span class="menu-text">Landing</span>
                                </span>
                            </li>
                            {% if settings.aside.secciones.hide == 0 %}
                            <li class="menu-item {{ aside.active.sections }}" aria-haspopup="true">
                                <a href="/admin/landing/secciones" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Secciones</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.aside.menu.hide == 0 %}
                            <li class="menu-item {{ aside.active.menus }}" aria-haspopup="true">
                                <a href="/admin/landing/menus" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Menú</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.aside.galeria.hide == 0 %}
                            <li class="menu-item {{ aside.active.gallery }}" aria-haspopup="true">
                                <a href="/admin/landing/galeria" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Galería</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if settings.aside.ecommerce.hide == 0 %}
                <li class="menu-item menu-item-submenu {{ aside.open.ecommerce }}" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fas fa-store-alt" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Ecommerce</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link">
                                    <span class="menu-text">Ecomerce</span>
                                </span>
                            </li>
                            {% if settings.aside.productos.hide == 0 %}
                            <li class="menu-item {{ aside.active.products }}" aria-haspopup="true">
                                <a href="/admin/ecommerce/productos" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Productos</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.aside.categoria.hide == 0 %}
                            <li class="menu-item {{ aside.active.categories }}" aria-haspopup="true">
                                <a href="/admin/ecommerce/categorias" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Categorías</span>
                                </a>
                            </li>    
                            {% endif %}                 
                            {% if settings.aside.docentes.hide == 0 %}
                            <li class="menu-item {{ aside.active.teachers }}" aria-haspopup="true">
                                <a href="/admin/ecommerce/docentes" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Docentes</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
              {% endif %}
              {% if settings.aside.multimedia.hide == 0 %}
                 <li class="menu-item menu-item-submenu {{ aside.open.multimedia }}" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fas fa-archive" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Bibliotecas</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link">
                                    <span class="menu-text">Bibliotecas </span>
                                </span>
                            </li>
                            {% if settings.aside.portafolio.hide == 0 %}
                            <li class="menu-item {{ aside.active.portafolio }}" aria-haspopup="true">
                                <a href="/admin/portafolios/portafolios" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Portafolios</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.aside.podcast.hide == 0 %}
                            <li class="menu-item {{ aside.active.podcast }}" aria-haspopup="true">
                                <a href="/admin/portafolios/podcast" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Podcast</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if settings.aside.mensajes.hide == 0 %}
                <li class="menu-item {{ aside.active.messages }}" aria-haspopup="true">
                    <a href="/admin/mensajes" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-comment-alt" aria-hidden="true"></i>
                        </span>
                        </span>
                        <span class="menu-text">Mensajes</span>
                    </a>
                </li>
                {% endif %}
                {% if settings.aside.perfil.hide == 0 %}
                <li class="menu-item {{ aside.active.profile }}" aria-haspopup="true">
                    <a href="/admin/usuario/perfil" class="menu-link">
                        <span class="menu-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Perfil</span>
                    </a>
                </li>
                {% endif %}
                {% if APP.SESSION.USER.profile_id == 1 %}                
                <li class="menu-item menu-item-submenu {{ aside.open.system }}" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fas fa-tv" aria-hidden="true"></i>
                        </span>
                        <span class="menu-text">Sistema</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link">
                                    <span class="menu-text">Sistema</span>
                                </span>
                            </li>
                            <li class="menu-item {{ aside.active.settings }}" aria-haspopup="true">
                                <a href="/admin/sistema/configuracion" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text">Configuración</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endif %}
            </ul>
            <!--end::Menu Nav-->
        </div>
        <!--end::Menu Container-->
    </div>
    <!--end::Aside Menu-->
</div>